[Unit]
Description=MoviePics Celery Service
After=syslog.target

[Service]
Environment=APPINI=/var/www/django/moviepics_manager/os/uwsgi/celery.ini
ExecStart=/var/www/django/moviepics_manager/.venv/bin/uwsgi --ini $APPINI
User=www-data
Group=www-data
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Also=uwsgi-moviepicsmanager-celery.socket
